# next.js build output
.next

# dotenv environment variables file (build for Zeit Now)
.env
.env.build
.env.local

# Dependency directories
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# .vscode settings
.vscode

yarn.lock